* {
    background-color: slategrey;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calc-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
}

.input-display {
    background-color: rgb(185, 185, 241);
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 2rem;
    padding-right: 5px;
    padding-left: 5px;
    border: 0.5px solid black;
    border-radius: 10px;
    flex-flow: wrap;
    overflow: hidden;
}

.calc-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    display: grid;
    grid-gap: 5px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color: rgb(185, 185, 241);
    padding: 10px;
    border: 1px solid black;
}

.span-two {
    grid-column: span 2;
}

.red-btn {
    background-color: rgb(199, 134, 134);
}

button {
    border: none;
    cursor: pointer;
    border: 0.5px solid black;
    border-radius: 5px;
    font-size: 1.25rem;
}

input {
    visibility: hidden;

}